#dependencies
server/node_modules
server/client/node_modules

#coverage
server/client/coverage

#keys
server/config/keys.js

#misc
server/client/.DS_Store
server/client/.env.local 
server/client/.env.development
server/client/.env.development.local
server/client/.env.test.local
server/client/.env.production
server/client/.env.production.local

server/client/npm-debug.log*
server/client/yarn-debug.log*
server/client/yarn-error.log*